<html>

<head>
  <meta charset="UTF-8">
     
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
     
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>
    Landing Page
  </title>
  <style type="text/css">
    body {
      background-color: lightblue;
    }

    .color {
      background-color: blue;
    }
  </style>
</head>

<body>
  <button class="color" onclick="location.href='/profile'">My Profile</button>
  <h1> Hello. Apa Kabar?</h1>
  <form method="post"> {% csrf_token %}
    {{form.status}}
    <input id='soubmit' type="submit" value=submit>
  </form>

  Recent Status <br>
  {% if data %}
  {% for status in data %}
  on {{status.time}}
  <p id='posts{{status.id}}'>{{status.status}}</p> <br>
  {% endfor %}
  {% else %}
  Empty Status
  {% endif %}
</body>

</html>